#!/usr/bin/make -f

#export DH_VERBOSE = 1
export PYBUILD_NAME = openrobertalab
export PYBUILD_SYSTEM = distutils
# the tests hang at the *end* when run under pbuilder-dist
export PYBUILD_DISABLE_python3.4=test

# expects changelog version in the format <menuversion>+<extraversion>
# where <menuversion> matches the menuversion on the lab.open-roberta.org
# server and <extraversion> can be any valid debian package version string.
export VERSION = $(shell dpkg-parsechangelog | grep ^Version: | sed -e 's/Version: //' -e 's/+.*//')

%:
	dh $@ --with=python3,systemd --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	install -D -o root -g root -m 644 debian/openrobertalab.conf debian/tmp/etc/dbus-1/system.d/openrobertalab.conf

override_dh_install:
	dh_install etc/dbus-1/system.d/openrobertalab.conf

override_dh_installinit:
	# don't do anything, silences lintian warnings
	# see https://github.com/ev3dev/brickman/blob/ev3dev-jessie/debian/rules
